@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
   display: flex;
   min-height: 100vh;
   flex-direction:column;
    
}
 .brand-logo img{
    height: 17px;
    width: 17px;
    margin-left: 15px;
  

}

.brand-logo {
    font-size: 20px;
}
nav .brand-logo{
    font-size: 1.3rem;
    margin-bottom: 10px;
    letter-spacing: 5px;
    font-weight:normal;
}


nav{
    background-color: rgb(19,19,19) !important;
    height: 55px;
}
nav a{
    text-transform: uppercase;
    
    
}
.nav-wrapper ul {
    opacity: 0.6;
}


#nav-mobile{
    margin-right: 40px;
}
main{
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("/img/mainbg-min.jpg");
    
    background-size: cover;
    background-position: center;
    height: 80vh;
}   
main {
    flex: 1 0 auto;
}
.card{
    width: 400px;
    height: 220px;
    margin-left: 300px;
    margin-top: 50px;
}
.image-container{
    margin-left: 200px;
    margin-top: 50px;
}
.container img{

   width: 400px;
   height: 220px;
}
.container span{
    text-shadow: 1px 1px black;
}
.container h4{
    margin-top: 200px;
}

.container .btn-large{
    background-color: black;
    border: solid white 2px;
    width: 150px;
    border-radius: 0px;
}


/* Footer !!!! */
.page-footer{
    background-color: rgb(19,19,19) !important;
}
.page-footer img {
    height: 20px;
    width: 20px;
   
}
.page-footer a{
    color: inherit;
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .image-location h6{
        margin-top: 50px;
    }
    .card{
    display: none;
    }
    .container h4{
        margin-top: 50px;
    }
}

