@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
    
}
 .brand-logo img{
    height: 17px;
    width: 17px;
    margin-left: 15px;
  

}

.brand-logo {
    font-size: 20px;
}
nav .brand-logo{
    font-size: 1.3rem;
    margin-bottom: 10px;
    letter-spacing: 5px;
    font-weight:normal;
}


nav{
    background-color: rgb(19,19,19) !important;
    height: 55px;
}
nav a{
    text-transform: uppercase;
    
    
}
.nav-wrapper ul {
    opacity: 0.6;
}


#nav-mobile{
    margin-right: 40px;
}
main{
    
    /*background-image: url("/img/mainbg-min.jpg");*/
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("/img/mainbg-min.jpg");
    
    background-size: cover;
    background-position: center;
    height: 80vh;
}   
main {
    flex: 1 0 auto;
  }

 .container h4{
     margin-top: 150px;
     text-shadow: white 0px 0px 2px;
     
 }
.container span{
    margin-left: 20px;
    font-size: 1.7rem;
}
.container h1{
    letter-spacing: 5px;
    font-weight:bold;
    text-shadow: white 0px 0px 1px;
}
.container .btn-large{
    background-color: black;
    border: solid white 2px;
    width: 150px;
    border-radius: 0px;
}

.image-location h6{
    margin-top: 250px;
    color: white;
    opacity: 0.7;
}
.image-location img{
    height: 20px;
    width: 20px;
}

/* Footer !!!! */
.page-footer{
    background-color: rgb(19,19,19) !important;
}
.page-footer img {
    height: 20px;
    width: 20px;
   
}
.page-footer a{
    color: inherit;
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .image-location h6{
        margin-top: 50px;
    }
}

